<template>
  <v-layout justify-center>
    <v-snackbar
      color="success"
      top
      right
      :timeout="3000"
      v-model="successUpdated"
    >Asset has been updated!</v-snackbar>
    <v-snackbar
      color="success"
      top
      right
      :timeout="3000"
      v-model="successCreated"
    >Asset has been created!</v-snackbar>
    <v-flex md8>
      <v-layout justify-space-between align-center>
        <h3 class="display-2 font-weight-bold">Schedule</h3>
        <add-asset @created="assetCreated"></add-asset>
      </v-layout>
      <h3 class="headline font-weight-medium ma-4">Active Assets</h3>
      <div class="mb-8 mx-4">
        <v-expansion-panels focusable>
          <draggable
            style="width: 100%"
            :list="activeAssets"
            group="assets"
            @start="drag=true"
            @end="updateAssets"
          >
            <asset-item v-for="asset in activeAssets" :key="asset.id" @updated="updatedAsset" :item="asset"></asset-item>
            <v-layout v-if="activeAssets.length == 0" justify-center>
              <v-flex justify-center>
                <center>
                  <h1 class="title blue-grey--text text--lighten-3">No Active Assets</h1>
                </center>
              </v-flex>
            </v-layout>
          </draggable>
        </v-expansion-panels>
      </div>
      <v-divider class></v-divider>
      <h3 class="headline font-weight-medium ma-4">Inactive Assets</h3>
      <div class="mb-4 mx-4">
        <v-expansion-panels>
          <draggable
            style="width: 100%"
            :list="inActiveAssets"
            group="assets"
            @start="drag=true"
            @end="updateAssets"
          >
            <asset-item v-for="asset in inActiveAssets" :key="asset.id" @updated="updatedAsset" :item="asset"></asset-item>
            <v-layout v-if="activeAssets.length == 0" justify-center>
              <v-flex justify-center>
                <center>
                  <h1 class="title blue-grey--text text--lighten-3">No Active Assets</h1>
                </center>
              </v-flex>
            </v-layout>
          </draggable>
        </v-expansion-panels>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";
import AssetItem from "../components/AssetItem";
import draggable from "vuedraggable";
import AddAsset from "../components/AddAsset";

/* eslint-disable */

export default {
  mounted() {
    this.getAllAssets();
  },
  data() {
    return {
      activeAssets: [],
      inActiveAssets: [],
      addAsset: false,
      successUpdated: false,
      successCreated: false
    };
  },
  components: {
    "asset-item": AssetItem,
    draggable: draggable,
    "add-asset": AddAsset
  },
  methods: {
    getAllAssets() {
      this.activeAssets = []
      this.inActiveAssets = []
      axios
        .get("http://screens-api.test/api/asset")
        .then(response => {
          response.data.data.forEach(asset => {
            if (asset.properties.active) {
              this.activeAssets.push(asset);
            } else {
              this.inActiveAssets.push(asset);
            }
          });
        })
        .catch(error => {
          console.log(error.response.data);
        });
    },
    assetCreated() {
      this.successCreated = true
      this.getAllAssets()
    },
    updateAssets() {
      this.drag = false;

      this.activeAssets.forEach(asset => {
        console.log("Active: Check update after creating assets with frontend");

        if (asset.properties.active == false || asset.properties.active == 0) {
          asset.properties.active = true;
          this.update(asset);
        }
      });

      this.inActiveAssets.forEach(asset => {
        // console.log("Inactive: Check update after creating assets with frontend")
        if (asset.properties.active == true || asset.properties.active == 1) {
          asset.properties.active = false;
          this.update(asset);
        }
      });
    },
    update(asset) {
      axios
        .patch("http://screens-api.test/api/asset/" + asset.id, {
          name: asset.name,
          type: asset.type,
          active: asset.properties.active,
          start_at: asset.properties.start_at,
          end_at: asset.properties.end_at,
          duration: asset.properties.duration,
          url: asset.properties.url,
          path: asset.properties.path
        })
        .then(response => {
          this.successUpdated = true;
        })
        .catch(error => {
          console.log(error.response.data);
        });
    },
    updatedAsset() {
      this.successUpdated = true
      this.getAllAssets()
    }
  }
};
</script>
