<template>
  <v-dialog v-model="addAsset" persistent max-width="600px">
    <template v-slot:activator="{ on }">
      <v-btn color="light-blue darken-1" class="font-weight-bold" rounded dark v-on="on">
        <v-icon class="mr-1">add</v-icon>Add
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">New Asset</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12 sm6>
              <v-text-field label="Name*" v-model="asset.name" filled required></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
              <v-select :items="types" v-model="asset.type" label="Type*" filled></v-select>
            </v-flex>
            <v-flex v-if="asset.type == 'Media'" xs12>
              <v-file-input
                label="Photo/Video*"
                :disabled="!asset.name || uploading"
                @change="selectFile"
                filled
                required
              ></v-file-input>
              <v-progress-linear v-if="uploading" height="8" v-model="uploadProgress"></v-progress-linear>
              
            </v-flex>
            <v-flex v-if="asset.type == 'Webpage'" xs12>
              <v-text-field label="Url*" v-model="asset.properties.url" filled required></v-text-field>
            </v-flex>
            <v-layout wrap>
              <v-flex sm12 md6 class="pr-2">
                <v-datetime-picker label="Start At" v-model="asset.properties.start_at" icon filled></v-datetime-picker>
              </v-flex>
              <v-flex sm12 md6 class="pl-2">
                <v-datetime-picker label="End At" v-model="asset.properties.end_at" icon filled></v-datetime-picker>
              </v-flex>
            </v-layout>
            <v-flex xs12>
              <v-text-field label="Duration*" v-model="asset.properties.duration" filled required></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="addAsset = false">Close</v-btn>
        <v-btn color="blue darken-1" text @click="save">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import moment from "moment";
import axios from "axios";

export default {
  props: ["display"],
  data() {
    return {
      selectedFile: null,
      uploading: false,
      uploadProgress: 0,
      addAsset: false,
      types: ["Media", "Webpage"],
      asset: {
        name: "",
        type: "Webpage",
        properties: {
          active: false,
          url: null,
          start_at: moment().format("YYYY-MM-DD HH:mm"),
          end_at: moment()
            .add(1, "hours")
            .format("YYYY-MM-DD HH:mm"),
          duration: 0
        },
        created_at: "",
        updated_at: ""
      },
      defaultAsset: {
        name: "",
        type: "Webpage",
        properties: {
          active: false,
          url: null,
          start_at: moment().format("YYYY-MM-DD HH:mm"),
          end_at: moment()
            .add(1, "hours")
            .format("YYYY-MM-DD HH:mm"),
          duration: 0
        },
        created_at: "",
        updated_at: ""
      }
    };
  },
  methods: {
    save() {
      let fd = new FormData();
      if (this.selectedFile) {
        fd.append("media", this.selectedFile, this.selectedFile.name);
        this.uploading = true;
      }
      fd.append("name", this.asset.name);
      fd.append("type", this.asset.type);
      fd.append("active", 0);
      fd.append("start_at", this.asset.properties.start_at);
      fd.append("end_at", this.asset.properties.end_at);
      fd.append("duration", this.asset.properties.duration);
      fd.append("url", this.asset.properties.url);
      axios
        .post("http://screens-api.test/api/asset", fd, {
          onUploadProgress: uploadEvent => {
            this.uploadProgress = Math.round((uploadEvent.loaded / uploadEvent.total) * 100);
          }
        })
        .then(response => {
          this.uploading = false;
          this.uploadProgress = 0;
          this.$emit("created", response.data.data);
          this.asset = this.defaultAsset;
        })
        .catch(error => {
          console.log(error.response.data);
        });
      this.addAsset = false;
    },
    selectFile(file) {
      this.selectedFile = file
    }
  }
};
</script>

