<template>
  <v-expansion-panel style="width: 100%" @click="modifyAsset = item">
    <v-expansion-panel-header>
      <v-layout column>
        <span class="font-weight-bold mb-2">{{ item.name }}</span>
        <v-layout class="caption blue-grey--text lighten-1 text-uppercase" align-center>
          <v-icon class="mr-1" small>calendar_today</v-icon>
          {{ moment(item.properties.start_at).format('MMM Do YY, h:mm a') }} - {{ moment(item.properties.end_at).format('MMM Do YY, h:mm a') }}
        </v-layout>
        <v-layout class="caption blue-grey--text lighten-1 text-uppercase" align-center>
          <v-icon class="mr-1" small>schedule</v-icon>
          {{ (Math.floor(item.properties.duration / 60)) > 0 ? Math.floor(item.properties.duration / 60) + ' Min ' : item.properties.duration + ' Sec' }}
        </v-layout>
      </v-layout>
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-form class="pt-4">
        <v-layout wrap>
          <v-flex class="pr-2" md6>
            <v-text-field label="Name" v-model="modifyAsset.name" filled></v-text-field>
          </v-flex>
          <v-flex class="pl-2" md6>
            <v-select :items="types" v-model="modifyAsset.type" label="Type" filled></v-select>
          </v-flex>
        </v-layout>
        <v-text-field
          v-if="modifyAsset.type == 'Webpage'"
          label="URL"
          v-model="modifyAsset.properties.url"
          filled
        ></v-text-field>
        <v-text-field
          v-if="modifyAsset.type == 'Video'"
          label="Path"
          v-model="modifyAsset.properties.path"
          filled
        ></v-text-field>
        <v-layout wrap>
          <v-flex sm12 md6 class="pr-2">
            <v-datetime-picker
              label="Start At"
              icon=""
              v-model="modifyAsset.properties.start_at"
              filled
            ></v-datetime-picker>
          </v-flex>
          <v-flex sm12 md6 class="pl-2">
            <v-datetime-picker
              label="End At"
              icon=""
              v-model="modifyAsset.properties.end_at"
              filled
            ></v-datetime-picker>
          </v-flex>
        </v-layout>
        <v-text-field label="Duration" v-model="modifyAsset.properties.duration" filled></v-text-field>
      </v-form>
      <v-layout>
        <v-spacer></v-spacer>
        <v-btn @click="save" text>
          <v-icon>save</v-icon>
          Save
        </v-btn>
        <v-btn @click="save" text>
          <v-icon>clear</v-icon>
          Cancel
        </v-btn>
      </v-layout>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
import moment from "moment"
import axios from "axios"

export default {
  props: ["item"],
  data() {
    return {
      moment: moment,
      addAsset: false,
      modifyAsset: {
        id: 0,
        name: "",
        type: "",
        properties: {
          active: 0,
          url: "",
          path: null,
          start_at: "",
          end_at: "",
          duration: 0
        },
        created_at: "",
        updated_at: ""
      },
      types: ["Webpage", "Media"]
    };
  },
  methods: {
    formatDateTime(datetime) {
      return datetime ? moment(datetime).format("dddd, MMMM Do YYYY") : "";
    },
    save() {
      axios
        .patch("http://screens-api.test/api/asset/" + this.modifyAsset.id, {
          name: this.modifyAsset.name,
          type: this.modifyAsset.type,
          active: this.modifyAsset.properties.active,
          start_at: this.modifyAsset.properties.start_at,
          end_at: this.modifyAsset.properties.end_at,
          duration: this.modifyAsset.properties.duration,
          url: this.modifyAsset.properties.url,
          path: this.modifyAsset.properties.path
        })
        .then(response => {
          this.$emit('updated', response.data)
        })
        .catch(error => {
          console.log(error.response.data);
        });
    }
  }
};
</script>

<style>
.vdatetime-input {
  width: 100%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.06);
}
</style>

