<template>
  <v-app>
    <v-app-bar color="light-blue darken-1" app dark>
      <v-icon large dark class="mr-2">featured_video</v-icon>
      <v-toolbar-title class="headline text-uppercase font-weight-bold">
        <span>Screens</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>settings</v-icon>
      </v-btn>
    </v-app-bar>

    <v-content>
      <v-container class="pt-8">
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data: () => ({
    //
  })
};
</script>
